<div id="manager-controls">
	<%= link_to 'Edit', edit_store_path(@store) %> | <%= link_to 'Back', stores_path %>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Description:</b>
  <%= @store.description %>
</p>

<p>
  <b>Address:</b>
  <%= @store.address %>
</p>

<p>
  <b>City:</b>
  <%= @store.city %>
</p>

<p>
  <b>State:</b>
  <%= @store.state.state_abbr %>
</p>

<p>
  <b>Zip:</b>
  <%= @store.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @store.phone %>
</p>