<h1>Listing bars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%= bar.name %></td>
    <td><%= bar.description %></td>
    <td><%= bar.address %></td>
    <td><%= bar.city %></td>
    <td><%= bar.state.state_abbr %></td>
    <td><%= bar.zip %></td>
    <td><%= bar.phone %></td>
    <td><%= link_to 'Review', new_review_path(bar) %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
  </tr>
<% end %>
</table>

<br />
