<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bar.name %>
</p>

<p>
  <b>Description:</b>
  <%= @bar.description %>
</p>

<p>
  <b>Email:</b>
  <%= @bar.email %>
</p>

<p>
  <b>Address:</b>
  <%= @bar.address %>
</p>

<p>
  <b>City:</b>
  <%= @bar.city %>
</p>

<p>
  <b>State:</b>
  <%= @bar.state.state_abbr %>
</p>

<p>
  <b>Zip:</b>
  <%= @bar.zip %>
</p>

<p>
  <b>Region:</b>
  <%= @bar.region.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @bar.phone %>
</p>

<div id="bar-reviews">
	Reviews:<br />
	<%= render @reviews %>
	<br />
</div>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
