<h1>Campus Taps Blog Admin</h1>
<% if @posts.empty? %>No Recent Posts.<br /><% end %>
<%= link_to "New Post", new_webadmin_post_path %>

<% @posts.each do |post| %>
  <h3><%= link_to post.title, [:webadmin,post] %></h3>
  <small>Created on: <%= post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></small>
  <p><%=raw smart_truncate(post.body, :words => 100) %></p>
<% end %>

<%= paginate @posts %>
<br />
