<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%=raw @post.body %>
</p>

<p>
  <b>Admin:</b>
  <%= @post.admin_id %>
</p>

<p>
  <b>Permalink:</b>
  <%= @post.permalink %>
</p>

Photos:
<% @post.blog_photos.each do |photo| %>
  <%= image_tag photo.data.url %>
<% end %>

<%= link_to 'Edit', edit_webadmin_post_path(@post) %> |
<%= link_to 'Back', webadmin_posts_path %>
