<p id="notice"><%= notice %></p>

<%= link_to 'Back', webadmin_posts_path %> | <%= link_to 'Edit', edit_webadmin_post_path(@post) %> |
<%= link_to 'Destroy', [:webadmin,@post], :method => :delete, :confirm => "Are you sure?" %>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Permalink:</b>
  <%= @post.permalink %>
</p>

<p>
  <b>Author:</b>
  <%= @post.admin.email %>
</p>

<%- if @post.banner_image.file? -%><%= image_tag @post.banner_image.url(:default) %><%- end -%><br />
<small><%= @post.banner_image_caption %><small>

<p>
  <b>Body:</b>
  <%=raw @post.body %>
</p>
