<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p><%- if @event.flyer.file? -%><%= image_tag @event.flyer.url(:small) %><%- end -%>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', bar_path(@event.bar) %>
