<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Region:</b>
  <%= @restaurant.region.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Hours:</b>
  <%= @restaurant.hours %>
</p>

<%= link_to 'Edit', edit_webadmin_restaurant_path(@restaurant) %> |
<%= link_to 'Back', webadmin_restaurants_path %> | 
<%= link_to 'New', new_webadmin_restaurant_path %>
