<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Region:</b>
  <%= @restaurant.region.name %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Hours:</b>
  <%= @restaurant.hours %>
</p>

<div id="restaurant-reviews">
	Reviews:<br />
	<%= render @reviews %>
	<br />
</div>

<%= link_to 'Back', restaurants_path %>
